/ {
        behaviors {
                td1: tap_dance_mod_tap {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&sk LSHIFT>, <&caps_word>, <&kp CAPSLOCK>;
                };

                td2: tap_dance_mod_tap2 {
                    compatible = "zmk,behavior-tap-dance";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&kp PT_FSLH >, <&uc 0xBF 0>;
                };
        };

};
