/*
 *	Use this file for your combos
 */

/* Horizontal combos - left hand */
ZMK_COMBO(mouse, &smart_mouse, LM3 LM2,     BASE NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/ {
  combos {
    compatible = "zmk,combos";

    combo_mouse {
      timeout-ms = <COMBO_TERM_SLOW>;
      require-prior-idle-ms = <COMBO_PRIOR_IDLE>;
      key-positions = <LM3 LM2>;
      layers = <BASE NUM>;
      bindings = <&smart_mouse>;
    };
  };
};
