/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// Personal headers
#include "includes/headers.dtsi"


/ {

        keymap {
                compatible = "zmk,keymap";


                default_layer {
                        display-name = "m00corne";
// -----------------------------------------------------------------------------------------
// |   `  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ~  |  ´  |
// | Caps |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  Ç  |
// |   '  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  ;  |  "  |
//                    | ESC | TAB | SPC |   | ENT | BSPC | DEL |
                        bindings = <
   &kp PT_SQT &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp PT_TILDE    &kp PT_ACUTE
   &magic_shift	&hm_l LGUI A &hm_l LALT R &hm_l LCTRL S &hm_shift_l LSHIFT T &kp G   &kp M &hm_shift_r RSHIFT N  &hm_r RCTRL E     &hm_r RALT I   &hm_r RGUI O &kp PT_C_CEDILLA
   &kp NUBS &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp PT_SEMI &td2
                  &kp ESC &lt 1 TAB &lt 3 SPACE   &lt 4 RET &lt 2 BSPC &mt LALT DEL
                        >;
                };
/*
                default_layer {
                        display-name = "QWERTY";
// -----------------------------------------------------------------------------------------
// |   `  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ~  |  ´  |
// | Caps |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  Ç  |
// |   '  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  ;  |  "  |
//                    | ESC | TAB | SPC |   | ENT | BSPC | DEL |
                        bindings = <
   &kp GRAVE   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp LBKT
   &caps_word &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHIFT F &kp G   &kp H &mt RSHIFT J  &mt RCTRL K     &mt RALT L   &mt RGUI SEMI &kp SQT
   &kp BSLH &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp TILDE
                  &kp ESC &lt 1 SPACE &lt 3 TAB   &lt 4 RET &lt 2 BSPC &mt LALT DEL
                        >;
                };
*/

                lower_layer {
                        display-name = "NAV - NUM";
// -----------------------------------------------------------------------------------------
// |       |     | UP  |     |     |     |   |     |  7  |  8  |  9  |     | BSPC |
// |       | LFT | DWN | RGT |     |     |   |     |  4  |  5  |  6  |     |      |
// | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |  1  |  2  |  3  |     |      |
//                     | ESC | TAB | SPC |   | ENT |  0  | DEL |
                        bindings = <
   &trans    &trans    &kp UP    &trans    &kp HOME    &kp PAGE_UP    &trans   &kp N7   &kp N8 &kp N9    &trans &kp BSPC
   &trans &mt LGUI LEFT   &mt LALT DOWN   &mt LCTRL RIGHT &mt LSHIFT END   &kp PAGE_DOWN    &trans &mt RSHIFT N4 &mt RCTRL N5 &mt LALT N6 &trans &trans
   &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans   &kp N1   &kp N2 &kp N3    &trans &trans
                                    &trans     &trans       &trans      &trans  &kp N0   &trans
                        >;
                };

                raise_layer {
                        display-name = "SYMBOLS";
// -----------------------------------------------------------------------------------------
// |   ?  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  PT_SQT &kp PT_EXCL &kp PT_AT &kp PT_HASH &kp PT_DLLR &kp PT_PRCNT   &kp PT_UMLAUT &kp PT_AMPS  &kp PT_ASTRK &kp PT_LPAR &kp PT_RPAR &kp BSPC
   &kp LCTRL &trans &kp DQT &kp APOS   &kp SEMICOLON   &kp LANG1      &kp MINUS &kp EQUAL &kp LT  &kp PT_LBKT &kp PT_RBKT &kp GRAVE
   &kp LANG2 &kp LANG3   &kp LANG4 &kp LANG5   &kp LANG6   &kp LANG7      &kp UNDER &kp PLUS  &kp GT  &kp PT_LBRC &kp PT_RBRC &kp RA(W)
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
                mouse_layer {
                        display-name = "MOUSE";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_UP &mmv MOVE_RIGHT   &trans      &kp MINUS &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_UP &mmv MOVE_RIGHT &kp GRAVE
   &kp LSHFT &msc SCRL_LEFT &msc SCRL_DOWN  &msc SCRL_UP &msc SCRL_RIGHT   &trans      &kp UNDER &msc SCRL_LEFT &msc SCRL_DOWN  &msc SCRL_UP &msc SCRL_RIGHT &kp TILDE
                             &mkp LCLK   &mkp MCLK    &mkp RCLK   &mkp LCLK   &mkp MCLK    &mkp RCLK
                        >;
                };
                m00wm_layer {
                        display-name = "m00wm";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
&bootloader &trans  &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &trans    &trans  &kp LG(LS(N7))  &kp LG(LS(N8))  &kp LG(LS(N9)) &trans  &bootloader
&sys_reset &trans  &kp LG(N4)  &kp LG(N5)  &kp LG(N6)  &trans    &trans  &kp LG(LS(N4))    &kp LG(LS(N5))     &kp LG(LS(N6))  &trans  &sys_reset
&trans  &trans  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &trans    &trans  &kp LG(LS(N1))  &kp LG(LS(N2))  &kp LG(LS(N3))  &trans  &trans
                                    &trans  &trans  &trans    &trans  &trans  &trans
                        >;
                };
        };
};
